<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">Our
        <strong>Capabilities</strong>
      </h2>
      <hr>
    </div>
    <div class="col-md-6">
      <%= image_tag("slide1.jpg", :class => "img-responsive img-border-left") %>
    </div>
    <div class="col-md-6">
      <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">Our
        <strong>Equipment</strong>
      </h2>
      <hr>
    </div>

    <div class="col-sm-6 text-center">
      <%= image_tag("120blanchard2.jpg", :class => "img-responsive") %>
      <p>
        <small>72HD-120 - "The Big Blanchard"</small>
      </p>
    </div>

    <div class="col-sm-6 text-center">
      <%= image_tag("120blanchard.jpg", :class => "img-responsive") %>
      <p>
        <small>72HD-120 - "The Big Blanchard"</small>
      </p>
    </div>

    <div class="col-sm-6 text-center">
      <%= image_tag("36HD66.jpg", :class => "img-responsive") %>
      <p>
        <small>36HD-66</small>
      </p>
    </div>

    <div class="col-sm-6 text-center">
      <%= image_tag("26HD48.jpg", :class => "img-responsive") %>
      <p>
        <small>26HD-48</small>
      </p>
    </div>

    <div class="col-sm-6 text-center">
      <%= image_tag("18_36.jpg", :class => "img-responsive") %>
      <p>
        <small>18HD-36</small>
      </p>
    </div>

    <div class="col-sm-6 text-center">
      <%= image_tag("forklift.jpg", :class => "img-responsive") %>
      <p>
        <small>13.5k Hyster Forklift</small>
      </p>
    </div>

    <div class="col-sm-6 text-center">
      <%= image_tag("cranes1.jpg", :class => "img-responsive") %>
      <p>
        <small>15 & 2 Ton Overhead Cranes + Eriez Lift Magnets, 2 to 10 Tons</small>
      </p>
    </div>

    <div class="col-sm-6 text-center">
      <%= image_tag("cranes2.jpg", :class => "img-responsive") %>
      <p>
        <small>1 Ton Overhead Crane</small>
      </p>
    </div>

    <div class="col-sm-6 text-center">
      <%= image_tag("str8press.jpg", :class => "img-responsive") %>
      <p>
        <small>Straightening Press</small>
      </p>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
